.Hero_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  gap: 10px;
}

.Hero_text svg {
  width: 70%;
  height: 70vh;
}

.countdown{
  height: 10vh;
  display: flex;
  font-size: 6vw;
  font-family: 'digitalfont';
  gap: 20px;
}

.timer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width:600px) {
  .countdown{
    flex-direction: row;
    font-size: 7vw;
  }
  .timer{
    transform: translateY(-100px);
  }
  .launchingOn{
    font-size: 5vw !important;
  }
}

.launchingOn{
  display: none;
  font-size: 3vw;
}
